.feed{
    display: flex;
    align-items: center;
    margin-top: 20rem;
    color: #800080;
    justify-content: center;
}
.feed-btn{
margin-top: 2rem;
background-color: #800080;
color: white;
font-size: 16px;
padding: 12px 24px;
border: none;
cursor: pointer;
border-radius: 5px;
text-align: center;
}
.feed-btn:hover{
    background-color: #dda0dd;
    }
.form{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
.your-message{
height: 50px;
}

