*{
    margin: 0;
    padding: 0;
}
body {
    margin:0;
    font-family: 'Playfair Display', serif;
    font-size: 17px;
    color: #dda0dd;
    line-height: 1.6;
}

header{
    position: fixed;
    top:0; left:0; right:0;
    background:#dda0dd;
    padding:2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}


header .header_text {
    font-family:'Rouge Script', cursive;
    font-size: 50px;
    color: #800080;
    
}

header .navbar a{
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    padding:0 1.5rem;
    color:#800080;
}

header .navbar a:hover{
    color: #f5f5f5;
}

header .icons a{
    font-size: 2.5rem;
    color:#800080;
    margin-left: 1.5rem;
}

header .icons a:hover{
    color: #f5f5f5;
}


#showcase {
    background-image: url('../images/Namnlös\ design\ \(9\).png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}

#showcase h1 {
    font-size: 50px;
    line-height: 1.2;
    
           
}

#showcase p{
    font-size: 20px;
    
}

#showcase .button{
    font-size:18px;
    text-decoration:none;
    color:#dda0dd;
    border: #800080 1px solid;
    padding:10px 20px;
    border-radius:10px;
    margin-top:20px;
    
  }

  #showcase .button:hover {
    background: #f5f5f5;
    color: #800080
    
  }
  
  #section-a{
    display: flex;
    padding:20px;
    background:#dda0dd;
    color:#f5f5f5;
    text-align:center;
  }